/* DrillPage.module.css */
.pageTitle {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 30px;
}

.drillContainer {
  display: flex;
  gap: 30px;
}

.sidebar {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.subcategoryButton {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.controlsContainer {
  margin-top: 20px;
}

.shuffleButton {
  width: 100%;
  margin-bottom: 10px;
  background-color: #5d88a3;
}

.shuffleButton:hover {
  background-color: #3e5b6e;
}

.cardCountSelect {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.content {
  width: 75%;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.wordCard {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: calc(50% - 10px);
  box-sizing: border-box;
}

.wordText {
  font-size: 44px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.correctButton, .incorrectButton {
  width: 45%;
  padding: 10px 20px;
  font-size: 18px;
}

.correctButton:disabled,
.incorrectButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.correctButton {
  background-color: #739e73;
}

.correctButton:hover {
  background-color: #4d6b4d;
}

.incorrectButton {
  background-color: #c45248;
}

.incorrectButton:hover {
  background-color: #8e3a32;
}

.tableContainer {
  width: 50%;
  margin: 30px auto;
}

.resultsTable {
  width: 100%;
  border-collapse: collapse;
}

.resultsTable th, .resultsTable td {
  border: 1px solid #ddd;
  text-align: left;
}

.resultsTable th {
  background-color: #739e73;
  color: white;
  padding: 12px;
}

.resultsTable td {
  padding: 0px 8px;
}

.resultsTable tr:nth-child(even) {
  background-color: #d9ddd9;
}

.emptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 2px dashed #ccc;
}

.emptyState p {
  font-size: 18px;
  color: #666;
  text-align: center;
}

.refreshButton {
  background-color: #739e73;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.subCat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.refreshButton:hover {
  background-color: #4d6b4d;
}